<%= render "shared/second-header" %>

<%= form_with model: @user, url: user_registration_path,id: 'user-form', class: 'registration-main', local: true do |f| %>
  <%= render "devise/shared/error_messages" %>

  <div class="form-group">
    <h2 class="new-user-title">ユーザ作成</h2>
    <%#= 入力フォームの部分テンプレート %>
    <%= render  partial: 'devise/shared/form', locals: { f: f } %>
  </div>  
<% end %>