* {
  box-sizing: border-box;
  text-decoration: none;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.idm-icon {
  width: 6vw;
}

.app-title{
  font-size: 18px;
  color:  rgb(58, 210, 87);
  width: 8vw;
  margin-right: 2vw;
}

.title-content{
  font-size: 18px;
}

.title-message{
  margin-bottom: 10px;
  text-align: center;
}

.search-form {
  width: 60vw;
  height: 6vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 6vh;
  padding-left: 10px;
}

.search-button {
  color: white;
  width: 6vh;
  border: 0;
  background-color: rgb(58, 210, 87);
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 3vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  margin-right: 3vw;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-name {
  text-decoration: none;
  margin-right: 3vw;
  font-weight: bold;
}


.logout {
  text-decoration: none;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
}

.sign-up {
  text-decoration: none;
}