<%= render "shared/header" %>

<div class='item-contents'>
  <div class='title'>
    ユーザ管理機器一覧
  </div>

  <ul>
    <%# @items.each do |item| %>
      <li class='list'>
      <%#= link_to item_path(item.id) do %>
        <div class='item-info'>
          <h3 class='item-name'>
            <%#= item.item %>
          </h3>
          <div class='item-status'>
            <%#= item.status %>
          </div>
          <div class='item-category'>
            <%#= item.category %>
          </div>
        </div>
      <%# end %>
      </li>
    <%# end %>
  </ul>
  
</div>
