<%= render "shared/second-header" %>

<div class="items-register-form">
  <h2 class="items-title">機器情報を入力</h2>
    <%= render 'shared/new-input-form' %>

    <div class="input-btn-contents">
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>

</div>