.form-group{
  margin: 10px 0;
}

.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.login-user-title{
  text-align: center;
  font-size: 18px;
  margin: 10px 0;
}

.login-red-btn {
  width: 100%;
  background: rgb(58, 210, 87);;
  border: 1px solid rgb(58, 210, 87);;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}

